<!DOCTYPE html>
<html lang="en">
    {% load django_bootstrap5 %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'base/css.html' %}
    
    
    <title>{% block head_title %}BoekenKAST{% endblock head_title %}</title>

</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    {% include 'base/navbar.html' %}
    

    <div class="container mx-auto mt-4 min-h-screen">
        
        <div class=".mt-5 .pt-4">
            {% if messages %}
                {% for message in messages %}
                <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        </div>
        

            {% block content %}
            {% endblock content %}
        </div>

    {% include 'base/footer.html' %}
    {% include 'base/js.html' %}
    {% comment %} <script src="../path/to/flowbite/dist/flowbite.min.js"></script> {% endcomment %}
</body>

</html>