{% extends "base.html" %}



{% block content %}
{% load django_bootstrap5 %}

<div class='container'>
    <div class='row'>
        <div class='col-0'> 
        </div>
        <div class='col-12'>
            <div class="" id="store_book_wrapper">
                <table class="table" id="store_book">
                    <thead class="text-xs text-gray-700 bg-gray-50">
                        <tr>
                            <th class="w-10">Title ID</th>
                            <th >ISBN</th>
                            <th >Title</th>
                            <th >Author</th>
                            <th >Place</th>
                            <th >Language</th>
                            <th >Amount</th>
                        </tr>
                    </thead>
                    <!--Data from backend -->
                    {% for p in products %}
                    
                    <tr>
                        <td>{{ p.title.id }}</td>
                        <td>{{ p.title.isbn }}</td>
                        <td>{{ p.title.title| truncatechars:25 }}</td>
                        <td>{{ p.title.author}}</td>
                        <td>{{ p.place}}</td>
                        <td>{{ p.title.language}}</td>
                        <td>{{ p.copies_num }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>   
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        
        $('#store_book thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#store_book thead')

        var table = $('#store_book').DataTable( {
            //Datatable configurations
            layout: {
                topStart: {
                    pageLength: {
                        menu: [ 10, 25, 50, 100 ]
                    }
                },
                topEnd: {
                    search: {
                        placeholder: 'Type search here'
                    }
                },
                bottomEnd: {
                    paging: {
                        numbers: 3
                    }
                },
            },
            scrollY: '500px',
            scrollX: '1200px',
            scrollCollapse: true,
            paging: false,

            //ordering: true,
            //pageLength: 10,
            //lengthChange: true,
            autoWidth: false,
            columnDefs: [
                {  
                    targets: [0, 6],
                    width: '200px'}],
            //searching: true,
            //info: false,
            
            // deferRender: false,
            
            initComplete: function() {
                var api = this.api();

                // Set the filtering columns
                api
                    .columns([0, 1, 2, 3, 4, 5, 6]) // <--- OR VISIBLE??
                    .eq(0)
                    .each(function(colIdx) {
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="'+ title + '"/>');

                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                        .off('keyip change')
                        .on('keyup change', function(e) {
                            e.stopPropagation();

                            $(this).attr('title', $(this).val());
                            var regexr = '({search})';

                            var cursorPosition = this.selectionStart;

                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                    });
            }, // <-- end init
            
            
            
            //dom: 'lBfrtip',
            buttons: [ 

                        //{ // Columns
                        //extend: 'colvis',
                        //text: 'Choose columns',
                        //className: 'btn btn-secondary',
                        //titleAttr: 'Columns',
                        //},

                        { // COPY
                        extend: 'copy',
                        text: 'COPY',
                        className: 'btn btn-secondary',
                        titleAttr: 'Copy',
                        // which column
                        exportOptions: {
                        columns: ':visible'
                        }
                        }, 

                        { // EXCEL
                        extend: 'excel',
                        text: 'EXCEL',
                        className: 'btn btn-secondary',
                        titleAttr: 'Excel',
                        exportOptions: {
                        columns: ':visible'
                        }
                        },

                        { // PRINT
                        extend: 'print',
                        text: 'PRINT',
                        className: 'btn btn-secondary',
                        titleAttr: 'Print',
                        exportOptions: {
                        columns: ':visible'
                        },
                        // customize fontsize when print
                        customize: function ( win ) {
                            $(win.document.body).css('font-size', '10px')
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                        },

                        { // PDF
                        extend: 'pdf',
                        text: 'PDF',
                        className: 'btn btn-secondary',
                        titleAttr: 'PDF',
                        exportOptions: {
                        columns: ':visible'
                        },
                        // center the table
                        tableHeader: {
                            alignment: 'center'
                        },
                        //Font size and optimization
                        customize: function ( doc ) {
                            doc.styles.tableHeader.alignment = 'center'; // Header position
                            doc.styles.tableBodyOdd.alignment = 'center'; // Body position 1 (grey color)
                            doc.styles.tableBodyEven.alignment = 'center'; // Body position 2 (white color)
                            doc.styles.tableHeader.fontSize = 11; // Header font size
                            doc.defaultStyle.fontSize = 10; // Body font size
                            // to get 100% width of the table
                            doc.content[1].table.widths = Array(doc.content[1].table.body[1].length + 1).join('*').split('');
                        }
                        } // <-- end PDF 
                    ],// <-- end BUTTONS

        } );

        table.buttons().container()
        .appendTo( '#store_book_wrapper' );
    } );
</script>


{% endblock %}