{% extends "base_console.html" %}



{% block content %}
{% load django_bootstrap5 %}
{% comment %} Datatable CDN {% endcomment %}

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.js"></script>

<div class="mw-100" id="store_book_wrapper">
        <table class="table col-4 table-sm table-hover p-3 cell-border compact stripe" id="store_book">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th style="width: 10%">#</th>
                    <th >ISBN</th>
                    <th >Title</th>
                    <th >Author</th>
                    <th >Place</th>
                    <th >Amount</th>
                </tr>
            </thead>
            <!--Data from backend -->
            {% for p in products %}
            
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ p.title.isbn }}</td>
                <td>{{ p.title.title| truncatechars:25 }}</td>
                <td>{{ p.title.author}}</td>
                <td>{{ p.place}}</td>
                <td>{{ p.copies_num }}</td>
            </tr>
            {% endfor %}
        </table>
</div>  

<script>
    $(document).ready(function() {
        
        $('#store_book thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#store_book thead')

        var table = $('#store_book').DataTable( {
            //Datatable configurations
            paging: true,
            ordering: true,
            pageLength: 10,
            lengthChange: true,
            autoWidth: false,
            searching: true,
            bInfo: true,
            bSort: true,
            
            initComplete: function() {
                var api = this.api();

                // Set the filtering columns
                api
                    .columns([0, 1, 2, 3, 4, 5]) // <--- OR VISIBLE??
                    .eq(0)
                    .each(function(colIdx) {
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="'+ title + '"/>');

                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                        .off('keyip change')
                        .on('keyup change', function(e) {
                            e.stopPropagation();

                            $(this).attr('title', $(this).val());
                            var regexr = '({search})';

                            var cursorPosition = this.selectionStart;

                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                    });
            }, // <-- end init
            
            
            
            dom: 'lBfrtip',
            buttons: [ 

                //{ // Columns
                //extend: 'colvis',
                //text: 'Choose columns',
                //className: 'btn btn-secondary',
                //titleAttr: 'Columns',
                //},

                { // COPY
                extend: 'copy',
                text: 'COPY',
                className: 'btn btn-secondary',
                titleAttr: 'Copy',
                // which column
                exportOptions: {
                columns: ':visible'
                }
                }, 

                { // EXCEL
                extend: 'excel',
                text: 'EXCEL',
                className: 'btn btn-secondary',
                titleAttr: 'Excel',
                exportOptions: {
                columns: ':visible'
                }
                },

                { // PRINT
                extend: 'print',
                text: 'PRINT',
                className: 'btn btn-secondary',
                titleAttr: 'Print',
                exportOptions: {
                columns: ':visible'
                },
                // customize fontsize when print
                customize: function ( win ) {
                    $(win.document.body).css('font-size', '10px')
                    $(win.document.body).find('table')
                        .addClass('compact')
                        .css('font-size', 'inherit');
                }
                },

                { // PDF
                extend: 'pdf',
                text: 'PDF',
                className: 'btn btn-secondary',
                titleAttr: 'PDF',
                exportOptions: {
                columns: ':visible'
                },
                // center the table
                tableHeader: {
                    alignment: 'center'
                },
                //Font size and optimization
                customize: function ( doc ) {
                    doc.styles.tableHeader.alignment = 'center'; // Header position
                    doc.styles.tableBodyOdd.alignment = 'center'; // Body position 1 (grey color)
                    doc.styles.tableBodyEven.alignment = 'center'; // Body position 2 (white color)
                    doc.styles.tableHeader.fontSize = 11; // Header font size
                    doc.defaultStyle.fontSize = 10; // Body font size
                    // to get 100% width of the table
                    doc.content[1].table.widths = Array(doc.content[1].table.body[1].length + 1).join('*').split('');
                }
                } // <-- end PDF 
            ] // <-- end BUTTONS
        } );

        table.buttons().container()
        .appendTo( '#store_book_wrapper .col-md-6:eq(0)' );
    } );
</script>



{% endblock %}