{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">



        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3">
                            ISBN
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Item title
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Quantity
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in object.items.all %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ forloop.counter }}
                        </th>
                        <td class="px-6 py-4">
                            {{ order_item.item.isbn }}
                        </td>
                        <td class="px-6 py-4">
                            {{ order_item.item.title }}
                        </td>
                        <td class="px-6 py-4">
                            {{ order_item.quantity }}
                        </td>
                        <td class="px-6 py-4 flex">
                            <a type="button" href="{% url 'storage:add-to-cart' order_item.item.isbn %}" class="focus:outline-none text-black bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add</a>
                            <a type="button" href="{% url 'storage:remove-single-item-from-cart' order_item.item.isbn %}" class="focus:outline-none text-black bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</a>

                        </td>
                    </tr>
                    {% endfor %}
                    {% comment %} {% empty %}
                    <tr>
                        <td colspan='5'>Your cart is empty</td>
                    </tr>
                    {% endblock %} {% endcomment %}
                    <tr>
                        <td colspan="5">
                            <a href="{% url 'storage:list' %}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Continue shopping</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a href='{% url 'storage:checkout' %}' class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Proceed to checkout</a>
                        <a href="{% url 'storage:list' %}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Continue shopping</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        


    
  </main>

{% endblock content %}
