Django>4.1,<4.2
psycopg2-binary
dj-database-url
python-decouple
Pillow
isbnlib
asgiref
autopep8
coverage
flake8-django
isort
mccabe
pycodestyle
pyflakes
pytz
testfixtures
toml
stripe
django_countries
django-allauth
django-crispy-forms